<div class="cookie-overlay">
    <div class="cookie-content">
        <p>{{ site.data.cookies[page.language].message }}</p>
        <p><a href="{{ site.data.cookies[page.language].cookie_policy_url }}" target="_blank">{{ site.data.cookies[page.language].cookie_policy }}</a></p>
        <button class="close-cookies">✖</button>
    </div>
    <div class="cookie-button">
        <button class="btn btn-primary accept-cookies">{{ site.data.cookies[page.language].accept_button }}</button>
    </div>
</div>


<script>
    var siteData = {
        gaMeasurementId: '{{ site.data.global.google-analytics }}'.trim(),
        // ... any other site data needed
    };
</script>
<script defer async src="/js/cookie-consent.js"></script>


