<!-- begin footer -->
<footer class="footer">

  <div class="footer__gallery">
    {% if site.data.footer.gallery %}
    <div class="gallery">
      {% for image in site.data.footer.gallery %}
      <div class="gallery__image">
        <img src="{{site.baseurl}}{{image.url}}" alt="{{image.alt}}" loading="lazy">
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="footer__inner">
          <div class="container">
            <div class="row">
      
              <div class="col col-8 col-d-12">
                <div class="footer__author">
                  <div class="footer__author-avatar">
                    <img class="lazy" width="200" height="130" data-src="{{site.data.settings.author.author__avatar}}" alt="{{site.data.settings.author.author__name}}">
                  </div>
                  <div class="footer__author-info">
                    <h3 class="footer__author-name">{{site.data.settings.author.author__name}}</h3>
                    {% assign lang_prefix = page.language | default: 'es' %}
                    {% assign bio_key = 'author__bio_' | append: lang_prefix %}
                    <p class="footer__author-bio">{{ site.data.settings.author[bio_key] }}</p>
                    {% if site.data.social.social %}
                    <div class="social">
                      <ul class="social__list list-reset">
                        {% for social in site.data.social.social %}
                        <li class="social__item">
                          <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener"
                            aria-label="Social link"><i class="ion {{social.icon}}"></i></a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
      
              <div class="col col-4 col-d-12">
                <div class="footer__nav">
                  {% assign navigation_key = 'navigation__title_' | append: lang_prefix %}
                  <h3 class="footer__nav-title">{{ site.data.settings.navigation[navigation_key] }}</h3>
                  <ul class="footer__nav-list list-reset">
                    {% if page.language == 'en' %}
                      {% assign menu_items = site.data.topnav.en_menu_settings.menu_items %}
                    {% elsif page.language == 'es' %}
                      {% assign menu_items = site.data.topnav.es_menu_settings.menu_items %}
                    {% else %}
                      {% assign menu_items = site.data.topnav.cat_menu_settings.menu_items %}
                    {% endif %}
                    {% for item in menu_items %}
                      {% if item.submenu %}
                        <!-- Add a blank row or separator -->
                        <li class="footer__nav-separator"></li>
                    </ul>
                    {% assign languages_key = 'languages_title_' | append: lang_prefix %}
                    <h3 class="footer__nav-title">{{ site.data.settings.navigation[languages_key] }}</h3>
                    <ul class="footer__nav-list list-reset">
                        {% for submenu_item in item.submenu %}
                          {% if submenu_item.title != page.language %}
                            <li class="footer__nav-item">
                              <a href="{{ submenu_item.url | relative_url }}" class="footer__nav-link">{{ submenu_item.title }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        <li class="footer__nav-item">
                          <a href="{{ item.url | relative_url }}" class="footer__nav-link">{{ item.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    <li class="footer__nav-separator"></li>
                  </ul>
                  {% assign legal_links = site.data.legal %}
                  <h3 class="footer__nav-title">{{ legal_links.legal_notice[page.language].title }}</h3>
                  <ul class="footer__nav-list list-reset">
                    <li class="footer__nav-item">
                      <a href="{{ legal_links.legal_notice[page.language].link | relative_url }}" class="footer__nav-link">{{ legal_links.legal_notice[page.language].title }}</a>
                    </li>
                    <li class="footer__nav-item">
                      <a href="{{ legal_links.privacy_policy[page.language].link | relative_url }}" class="footer__nav-link">{{ legal_links.privacy_policy[page.language].title }}</a>
                    </li>
                    <li class="footer__nav-item">
                      <a href="{{ legal_links.cookies_policy[page.language].link | relative_url }}" class="footer__nav-link">{{ legal_links.cookies_policy[page.language].title }}</a>
                    </li>
                  </ul>
                </div>
              </div>
      
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer__info">
          <div class="footer__info-box">
            <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.data.global.title}}</a>. Crafted & Designed by <a href="mailto:danielcalatayudf@gmail.com">CALCORP</a>.</div>
            <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer -->