<!-- begin header -->
<header class="header" id="top">
  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          {% assign url_prefix = '' %}
          {% if page.language and page.language != 'es' %}
            {% assign url_prefix = '/' | append: page.language %}
          {% endif %}
        
          <a class="logo__link logo-light" href="{{ site.baseurl }}{{ url_prefix }}/">
            {% if site.data.global.logo_light %}
              <img width="150" height="96.7" src="{{ site.data.global.logo_light }}" alt="{{ site.data.global.title }}" style="">
            {% else %}
              {{ site.data.global.title }}
            {% endif %}
          </a>
          <a class="logo-dark" href="{{ site.baseurl }}{{ url_prefix }}/" style="display:none">
            {% if site.data.global.logo_dark %}
              <img width="150" height="96.7" src="{{ site.data.global.logo_dark }}" style="">
            {% else %}
              {{ site.data.global.title }}
            {% endif %}
          </a>
        </div>        
        
        <nav class="main-nav">
          <div class="main-nav__box">
            <div class="nav__icon-close">
              <!--<i class="ion ion-md-close"></i>-->
              <ion-icon name="close" class="ion-md-close"></ion-icon>
            </div>
            <div class="nav__title">Menu</div>
            <ul class="nav__list list-reset">
              {% if page.language == 'en' %}
                {% assign menu_items = site.data.topnav.en_menu_settings.menu_items %}
              {% elsif page.language == 'es' %}
                {% assign menu_items = site.data.topnav.es_menu_settings.menu_items %}
              {% else %}
                {% assign menu_items = site.data.topnav.cat_menu_settings.menu_items %}
              {% endif %}
              {% for item in menu_items %}
                {% if item.submenu %}
                <li class="nav__item dropdown">
                  <span class="nav__link dropdown-toggle language-picker-icon">
                    <ion-icon name="globe-outline"></ion-icon>
                  </span>
                  <div class="dropdown-menu">
                    {% include language-picker.html %}
                  </div>
                </li>
                {% else %}
                <li class="nav__item">
                  <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </nav>

        <div class="nav-button">
          

          
          <div class="toggle-theme whatsapp-header-cta">
            {% for item in site.data.social.social %}
              {% if item.name == 'WhatsApp' %}
                <a class="whatsapp-icon" href="{{ item.link }}" target="_blank" rel="noopener" aria-label="{{ item.name }}"><ion-icon name="logo-whatsapp"></ion-icon></a>
              {% endif %}
            {% endfor %}
          </div>
          
          {% if site.data.global.color_scheme == "auto" %}
          <div class="toggle-theme toggle-theme-js">
            <div class="toggle-moon" title="Enable dark mode"><ion-icon name="moon"></ion-icon></div>
            <div class="toggle-sun" title="Enable light mode"><ion-icon name="sunny"></ion-icon></div>
          </div>
          {% elsif site.data.global.color_scheme == "light" %}
          <!-- <div class="toggle-theme theme-light">
            <div class="toggle-sun" title="Light mode"><ion-icon name="sunny-outline"></ion-icon></div>
          </div> -->
          {% elsif site.data.global.color_scheme == "dark" %}
          <!-- <div class="toggle-theme theme-dark">
            <div class="toggle-moon" title="Dark mode"><ion-icon name="moon-outline"></ion-icon></div>
          </div> -->
          {% else %}
          <div class="toggle-theme toggle-theme-js">
            <div class="toggle-moon" title="Enable dark mode"><ion-icon name="moon-outline"></ion-icon></div>
            <div class="toggle-sun" title="Enable light mode"><ion-icon name="sunny-outline"></ion-icon></div>
          </div>
          {% endif %}

          <ion-icon name="menu" class="nav__icon icon__menu"></ion-icon>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->