<!-- begin testimonials -->
{% assign lang_prefix = page.language | default: 'es' %}
{% assign title_key = 'testimonial__title_' | append: lang_prefix %}
{% assign description_key = 'testimonial__description_' | append: lang_prefix %}
{% assign title = site.data.testimonials[title_key] %}
{% assign description = site.data.testimonials[description_key] %}

<section class="section testimonials animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ title }}</h2>
          </div>
          {% if description %}
           <p class="section__description">{{ description }}</p>
          {% endif %}
        </div>

        <div class="testimonials__slider my-slider">
          {% for item in site.data.testimonials.testimonial__items %}
            <div class="testimonial-item">
              <div class="testimonial-content">
                <div class="client-meta">
                  {% if item.image and site.data.testimonials.testimonial__show_images == true %}
                    <div class="image-container">
                      <img class="client-avatar" src="{{ item.image | relative_url }}" alt="{{ item.name }}" loading="lazy">
                    </div>
                  {% endif %}
                  <div class="client-info">
                    {% if item.name %}
                      <h3 class="client-name">
                        {% if item.link %}
                          <a href="{{ item.link }}" target="_blank" rel="noopener">{{ item.name }}</a>
                        {% else %}
                          {{ item.name }}
                        {% endif %}
                      </h3>
                    {% endif %}
                    {% assign designation_key = 'designation_' | append: lang_prefix %}
                    {% assign content_key = 'content_' | append: lang_prefix %}
                    <p class="client-designation">{{ item[designation_key] }}</p>
                    <p class="client-text">{{ item[content_key] }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end testimonials -->
