{% assign lang_prefix = page.language | default: 'es' %}
{% assign title_key = 'hero__title_' | append: lang_prefix %}
{% assign description_key = 'hero__description_' | append: lang_prefix %}
{% assign title = site.data.hero[title_key] %}
{% assign description = site.data.hero[description_key] %}
{% assign image = site.data.hero.hero__image %}
{% assign input_text_key = 'mailchimp__input__text_' | append: lang_prefix %}
{% assign button_text_key = 'mailchimp__button__text_' | append: lang_prefix %}
{% assign mailchimp_input_text = site.data.settings[input_text_key] %}
{% assign mailchimp_button_text = site.data.settings[button_text_key] %}

{% assign menu_setting_var = lang_prefix | append: '_menu_settings' %}
{% assign menu_settings = site.data.topnav[menu_setting_var] %}
{% assign contact_url = '' %}

{% for item in menu_settings.menu_items %}
  {% if item.title == 'Contact' or item.title == 'Contacto' or item.title == 'Contacte' %}
    {% assign contact_url = item.url %}
    {% break %}
  {% endif %}
{% endfor %}


<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <div class="hero__image">
              <img class="lazy" data-src="{{ site.data.hero.hero__image }}" alt="{{ site.data.settings.author.author__name }}'s Picture">
            </div>
          </div>

          <div class="hero__right">
            <h1 class="hero__title">{{ title }}</h1>
            <p class="hero__description">{{ description }}</p>
            <div class="hero__subscribe">
              <form class="subscribe-form" action="{{ contact_url }}" method="GET"
                id="subscribe-form" name="subscribe-form" target="_blank">
                <label class="screen-reader-text" for="email-input">{{ mailchimp_input_text }}</label>
                <input class="subscribe-email required email" id="email-input" type="text" name="email"
                  placeholder="{% if mailchimp_input_text %}{{ mailchimp_input_text }}{% else %}Email address{% endif %}">
                <button class="button button--primary button--small subscribe-button" id="subscribe-button" type="submit">
                  {{ mailchimp_button_text }}
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

