{% assign lang_prefix = page.language | default: 'es' %}
{% assign title_key = 'projects__title_' | append: lang_prefix %}
{% assign description_key = 'projects__description_' | append: lang_prefix %}
{% assign title = site.data.settings.projects__settings[title_key] %}
{% assign description = site.data.settings.projects__settings[description_key] %}

{% assign seeAll_key = 'see__all_' | append: lang_prefix %}
{% assign seeAll = site.data.settings.misc[seeAll_key] %}

{% assign lang_prefix = page.language | default: 'es' %}
{% assign menu_setting_var = lang_prefix | append: '_menu_settings' %}
{% assign menu_settings = site.data.topnav[menu_setting_var] %}

{% assign services_url = '' %}
{% for item in menu_settings.menu_items %}
  {% if item.title == 'Services' or item.title == 'Servicios' or item.title == 'Serveis' %}
    {% assign services_url = item.url %}
    {% break %}
  {% endif %}
{% endfor %}

<!-- begin projects -->
<section class="section projects animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">

          <div class="section__info">
            <h2 class="section__title">{{ title }}</h2>
            {% if description %}
              <p class="section__description">{{ description }}</p>
            {% endif %}
          </div>

          <div class="row">
            {% assign projects_in_language = site.projects | where: 'language', page.language %}
            {% assign sorted = projects_in_language | sort: 'date' | reverse %}
            {% for project in sorted limit:6 %}
              <article class="project col col-4 col-d-6 col-t-12">
                <div class="project__content">
                  <a href="{{ project.url }}" class="project__image">
                    <img class="lazy" data-src="{{ project.image }}" alt="{{ project.title }}">
                    <noscript>
                      <img src="{{ project.image }}" alt="{{ project.title }}">
                    </noscript>
                  </a>
                  <div class="project__info">
                    <h3 class="project__title"><a href="{{ project.url }}">{{ project.title }}</a></h3>
                    {% if project.subtitle %}
                      <div class="project__subtitle">{{ project.subtitle }}</div>
                    {% endif %}
                  </div>
                </div>
              </article>
            {% endfor %}
          </div>          

        </div>
      </div>
    </div>
  </div>

  <div class="section__navigation">
    <a href="{{ services_url | relative_url }}" class="button button--primary section-button">{{ seeAll }}</a>
  </div>
</section>
<!-- end projects -->
