@use 'variables' as *;

$columns: 12;
$container-base-width: 1300px;
$container-offset: $base-spacing-unit;

$wide: 1400px;
$topnav-collapse: 1400px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 576px;
