---
layout: default
---

<div class="container">
  <div class="row">

    <div class="about-page-container">
      <h1 class="page-title">{{ page.title | escape }}</h1>
      {% assign lang_prefix = page.language | default: 'es' %}
      {% assign description_key = 'description_' | append: lang_prefix %}
      {% assign data_key = page.ref %}
      {% assign description = site.data[data_key][description_key] %}
      {% if description %}
        <p class="page-description">{{ description }}</p>
      {% endif %}

      <!-- Header Image-->
      {% assign aboutImage = site.data.about.image %}
      {% if aboutImage %}
      <div class="col col-12">
        <div class="page-image animate">
          <img class="lazy" data-src="{{site.baseurl}}{{aboutImage}}" alt="{{page.title}}">
        </div>
      </div>
      {% endif %}

      <!-- Team Section -->
      {% assign lang_prefix = page.language | default: 'es' %}
      {% assign team_key = 'team_' | append: lang_prefix %}
      {% if site.data.team.team and site.data.team.team.size > 0 %}
        <h2>{{ site.data.settings.misc[team_key] }}</h2>
        <div class="team-section">
          {% for member in site.data.team.team %}
            <div class="team-member">
              <a href="{{ member.linkedin }}" target="_blank" class="team-member-link">
                <div class="team-member-image-container">
                  <img src="{{ member.image | default: '/assets/uploads/placeholder-removebg-preview.jpg' }}" alt="{{ member.name }}" class="team-member-image {% unless member.image and member.image != '' %}default-image{% endunless %}">
                </div>
              </a>
              <div class="member-info">
                <div class="member-name-and-link">
                  <h3 class="member-name">{{ member.name }}</h3>
                {% if member.linkedin and member.linkedin != '' %}
                  <a href="{{ member.linkedin }}" target="_blank" class="linkedin-btn">
                    <ion-icon name="logo-linkedin"></ion-icon>
                  </a>
                {% endif %}
                </div>
              </div>
              {% assign member_key = 'position_' | append: lang_prefix %}
              <p class="member-title">{{ member[member_key] }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
   
      
      <!-- About Section Text -->
      <div class="container animate">
        <article class="page">
          <div class="page__content about-text">
            {% assign lang_prefix = page.language | default: 'es' %}
            {% assign about_text_key = 'body_' | append: lang_prefix %}
            {% capture about_text %}{{ site.data.about[about_text_key] | markdownify }}{% endcapture %}
            {{ about_text }}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
