---
layout: default
---
{% assign data_key = page.ref %}
{% assign page_image = site.data[data_key].image %}

<div class="container">
  <div class="row">

    <div class="col col-12">
      <div class="page-head">
        <h1 class="page-title">{{ page.title | escape }}</h1>
        {% assign lang_prefix = page.language | default: 'es' %}
        {% assign data_key = page.ref %}
        {% assign description_key = 'description_' | append: lang_prefix %}
        {% assign description = site.data[data_key][description_key] %}
        {% if description %}
          <p class="page-description">{{ description }}</p>
        {% endif %}
      </div>
    </div>

    {% if page_image %}
      {% if page.smallImage %}
        <div class="col col-2"></div>
          <div class="col col-8">
            <div class="page-image animate">
              <img class="lazy" data-src="{{site.baseurl}}{{ page_image }}" alt="{{page.title}}">
              <noscript>
                <img src="{{site.baseurl}}{{page_image}}" alt="{{page.title}}">
              </noscript>
            </div>
          </div>
        <div class="col col-2"></div>
      {%else %}
      <div class="col col-12">
        <div class="page-image animate">
          <img class="lazy" data-src="{{site.baseurl}}{{ page_image }}" alt="{{page.title}}">
        </div>
      </div>
      {% endif %}
    {% endif %}

  </div>
</div>

<!-- begin page -->
<div class="container animate">
  <article class="page">
    <div class="page__content">
        {% assign body_key = "body_" | append: page.language %}
        {% assign data_key = page.ref %}
        {{ site.data[data_key][body_key] | markdownify }}
        {{content}}
    </div>
  </article>
</div>
<!-- end page -->
